* {
  color: #FFFCF2;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  background-color: #252422;
}
h4 {
  margin: 0;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #403D39;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: calc(100vh);
}

.learn-more {
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #EB5E28; 
  border-radius: 1rem;
  padding: .5rem;
  color: #EB5E28;
  /* text-shadow: -1px -1px 0 #FFFCF2, 1px -1px 0 #FFFCF2, -1px 1px 0 #FFFCF2, 1px 1px 0 #FFFCF2; */
}