* {
  color: #FFFCF2;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  background-color: #252422;
  padding-bottom: 10rem;
}

h4 {
  margin: 0;
}

p {
  font-size: 1.1rem;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.large-button {
  font-size: x-large;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #403D39;
}

.hero-container {
  background: rgb(37,36,34);
  background: linear-gradient(0deg, rgba(37,36,34,1) 0%, rgba(64,61,57,1) 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}

.learn-more {
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #EB5E28; 
  border-radius: 1rem;
  padding: .5rem;
  color: #EB5E28;
}

.first-element {
  scroll-margin-top: 51px;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;

  img {
    width: 20rem;
    object-fit: contain;
    margin: 2rem;
  }

  .text-block {
    margin: 2rem;
    width: 40rem;
  }
}